@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/Product\ Sans\ Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html, body {
    background-color: var(--primary-background);
    font-family: 'Product Sans';
    height: 100vh;
    overflow: hidden;
}
:root {
    --primary-color: #E3E3E3;
    --border-button: #8e918f;
    --secondary-button: #37393B;
    --big-calender-background: #121214;
    --primary-background: #1B1B1B;
}

.header-container {
    width: 100%;
    height: 64px;
    padding: 8px;
}

.icon-and-logo-container {
    align-items: center;
    padding-right: 40px;
}

.logo-text {
    color: white;
    font-weight: normal;
    font-size: 23px;
    line-height: 48px;
    padding-left: 16px;
}

.icon-container {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    border-radius: 9999px;
}

.menu-icon-container {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.menu-icon-container:hover {
    background-color: rgba(227, 227, 227, 0.2);
}

.header-second-part {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrows-container {
    margin-right: 30px;
}

.after-logo-first-part {
    align-items: center;
}

.header-date-text {
    color: var(--primary-color);
    font-size: 23px;
}

.button-header {
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 9999px;
    cursor: pointer;
    background: none;
    border: 1px solid var(--border-button);
    margin-right: 20px;
    align-items: center;

    color: var(--primary-color);
    font-size: 14px;
}

.button-header:hover {
    background-color: rgba(227, 227, 227, 0.2);
}

.dropdown-triangle {
    display: flex;
    justify-content: center;
    margin-left: 6px;
}

.cursor-pointer {
    cursor: pointer;
}

.arrow-container-small {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.arrow-container-small:hover {
    background-color: rgba(227, 227, 227, 0.2);
}

.arrow-container-big:hover {
    background-color: rgba(227, 227, 227, 0.2);
}

.arrow-small {
    width: 15px;
    height: 15px;
    display: block;
    object-fit: contain;

}

.arrow-container-big {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
}

.arrow-big {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;

}

.create-button {
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--secondary-button);
    padding: 16px;
    border-radius: 16px;
    border: none;
    margin-bottom: 32px;


    color: white;
}

.create-button:hover {
    background-color: rgba(227, 227, 227, 0.2);
}


.main-container {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

.big-calender {
    background-color: var(--big-calender-background);
}

.small-calender-header {
    color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 6px;
    padding-left: 12px;
}

.row {
    display: flex;
    flex-direction: row;
}

aside {
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 32px;
}

.small-calender-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 28px);
    place-items: center;

}

.small-calender-grid-number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 10px;
}

.small-calender-grid-weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 10px;
}

.small-calender-number-container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
}

.small-calender-number-container:hover {
    background-color: rgba(227, 227, 227, 0.2);
}